* {
    margin: 0;
    border: 0;
}

.signup {
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 5px;
    box-shadow: 0 0 4px green;
    border-radius: 28px;
}

.signup h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.fattributes {
    margin-left: 20px;
    padding: 8px;
    border-radius: 4px;
}

.fattributes input {
    width: 50%;
    padding: 15px;
    box-shadow: 0 0 4px green;
    border-radius: 28px;
    font-size: 16px;
}

.fattributes input::placeholder {
    color: rgb(215, 214, 214);
}

.button {
    width: 100px;
    min-height: 55px;
    border-radius: 28px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: green;
}

.fattributes span {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: firebrick;
}
